<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aswifter.material">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.aswifter.material.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/DrawerLayoutTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".example.RecycleViewActivity"/>
        <activity android:name=".example.EditTextFLActivity"/>
        <activity android:name=".example.CardViewActivity"/>
        <activity
            android:name=".example.AppBarDetailActivity"
            android:theme="@style/DrawerLayoutTheme"/>
        <activity
            android:name=".book.BookDetailActivity"
            android:theme="@style/DrawerLayoutTheme"/>

        <activity android:name=".example.BottomTabActivity"/>

    </application>

</manifest>
